/* 
GENERAL
*/

*{
  margin: 0;
  padding:0;  
  box-sizing: border-box;
  }

body {
  background-color: #f6f8f9;
}

header{
  background-color: white;
  height: 90px;
}

.container{
  width: 70%;
  margin: 50px auto;
  background-color: white;
}

h1{
  font-size: 40px;
  display: inline-block;
}

button{
  background-color: white;
  color: grey;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
}

.primary-button {
  background-color: #46adf1;
  color: white;
  border: 1px solid #46adf1;

}

/* 
HEADER
*/

.logo-box{
  line-height: 80px;
}

.logo-box img{
  vertical-align: middle;
}

/* 
/HEADER
*/

/* 
MAIN
*/

.button-box{
  /* Adds the rounded border at the top of the box */
  border-radius: 3px 3px 0 0;

  padding: 15px 15px 15px 50px;
}

.to-do-box{
  /* Adds the rounded border at the bottom of the box */
  border-radius: 0 0 3px 3px;

  padding: 40px 15px 40px 50px;
}

.to-do-box, .button-box{
  /* Adds the border to the top and bottom of the box */
  border: 1px solid #f6f8f9;
}

.to-do-box-title{
  font-size: 25px;
}

.to-do-box-title::before{
  /* Add Down Arrow before text */
  content: '\25BC' ;
}

/* 
/MAIN
*/
